* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  --bg-color: hsla(240, 0%, 100%, 1);
  --text-color: hsla(240, 0%, 21%, 1);
  --tc-color: hsla(240, 0%, 21%, 1);
  --tch-color: hsla(240, 9%, 69%, 1);
  --ba-color: hsla(240, 9%, 89%, 1);
  --bap-color: hsla(194, 97%, 31%, 1);
  --bs-color: hsla(240, 0%, 21%, 1);
  --bsp-color: hsla(240, 0%, 100%, 1);
  --vr-color: hsla(240, 0%, 21%, 1);
  --ft-color: hsla(0, 0%, 0%, 1);
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  gap: 19.2rem;

  justify-content: center;
  align-items: center;
}

#col-1 {
  display: grid;
  gap: 4.8rem;
}

#col-1 span {
  font-style: normal;
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 14.8rem;
}

#controls {
  display: flex;
  gap: 4.0rem;
}

#col-1 button {
  width: 4.8rem;
  height: 4.8rem;

  border: none;
  background: transparent;
}

#col-1 button svg path {
  fill: var(--tc-color);
  transition: 300ms;
}

#col-1 button:hover svg path{
  fill: var(--tch-color);
}

#col-2 {
  display: grid;
  grid-template-areas: 
    "A B "
    "C D";
  gap: 3.2rem;
}

.buttonArea {
  background-color:var(--ba-color);
  width: 13.8rem;
  height: 15.2rem;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;

  padding: auto;
  border-radius: 2.4rem;
  transition: 700ms;
}

.buttonArea:hover {
  background-color:hsla(240, 9%, 69%, 1);
}

.buttonArea:hover button svg path{
  fill: hsla(240, 9%, 89%, 1);
}

.buttonArea.pressed {
  background-color: var(--bap-color);
}

/* sound buttons */

.buttonArea button {
  border: none;
  background: transparent;

  width: 100%;
}

.buttonArea button svg path {
  fill: var(--bs-color);
}

.pressed button svg path {
  fill: var(--bsp-color);
}

/* volume input */
input {
  width: 9.6rem;
  height: 1.6rem;

  -webkit-appearance: none;
  background-color: transparent;
}

input::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: var(--vr-color);
  border: none;
  border-radius: 3px;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--vr-color);
  margin-top: -4px;
}

.buttonArea.pressed input::-webkit-slider-runnable-track {
  background: var(--bsp-color);
} 

.buttonArea.pressed input::-webkit-slider-thumb {
  background: var(--bsp-color);
}

.buttonArea:hover input::-webkit-slider-runnable-track {
  background: hsla(240, 9%, 89%, 1);
} 

.buttonArea:hover input::-webkit-slider-thumb {
  background: hsla(240, 9%, 89%, 1);
}

/* footer */
footer {
  position: fixed;
  top: 0;
  right: 0;
}

footer button {
  padding: 6rem;
  background: transparent;
  border: none;
}

footer button svg path {
  fill: var(--ft-color);
}

footer button:hover svg path{
  fill: hsla(240, 9%, 69%, 1);
}

.hide {
  opacity: 0;
  display: none;
}

/* dark mode */
.dark-mode:root {
  --bg-color: hsla(240, 5%, 7%, 1);
  --text-color: hsla(0, 0%, 100%, 1);
  --tc-color: hsla(240, 7%, 78%, 1);
  --tch-color: hsla(240, 7%, 38%, 1);
  --ba-color: hsla(240, 6%, 17%, 1);
  --bap-color: hsla(195, 74%, 15%, 1);
  --bs-color: hsla(240, 7%, 78%, 1);
  --bsp-color: hsla(0, 0%, 100%, 1);
  --vr-color: hsla(0, 0%, 100%, 1);
  --ft-color: hsla(0, 0%, 100%, 1);
  font-size: 62.5%;
}

/* media query*/
@media(max-width: 830px) {
  body {
    flex-direction: column;
    gap: 9.6rem;
  }
}

@media(max-width: 330px) {
  #col-1 {
    text-align: center;
  }

  #col-1 span {
    font-size: 8rem;
    line-height: 14.8rem;
  }
  
  #controls {
    gap: 3.2rem;
  }
  
  #col-1 button {
    width: 3.6rem;
    height: 3.6rem;
  }
  
  #col-2 button {
    width: 10.35rem;
    height: 11.4rem;
  }
}